*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.gird-container{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px;
    /* grid-column-gap: 20px;
    grid-row-gap: 20px; */
    grid-gap: 20px;
    justify-content: center;
    margin: 20px;
    
    
}
.item{
    border: 1px solid;
    border-radius: 5px;
    background-color: aqua;
    text-align: center;
    font-size: 20px;
    padding: 30px;
    
}